body {
    background-color: rgb(247, 241, 233);
}

#header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 6%;
}

.word {
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 253, 253);
    margin-top: 25px;
}

.img {
    width: 100%;
    height: 1200px;
    margin-top: 30px;
}

#title {
    text-align: center;
    margin-top: 140px;
    color: white;
    background-color: black;
    width: 12%;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
}

.theCafe {
    margin-bottom: 500px;
    margin-left: 46%;
    margin-top: -680px;
    font-size: 100px;
    max-width: 5%;
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 253, 253);
}

.sub {
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
    color: white;
}

.open {
    background-color: black;
    margin-left: 10px;
    padding: 6px;
    font-family: 'Inconsolata', monospace;
}

.street {
    margin-right: 10px;
    font-family: 'Inconsolata', monospace;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-top: 150px;
    margin-left: 750px;
    margin-right: 26%;
    font-family: 'Inconsolata', monospace;
}

.text2 {
    margin-top: 30px;
    margin-left: 750px;
    margin-right: 26%;
    font-family: 'Inconsolata', monospace;
}

.text3 {
    margin-top: 30px;
    margin-left: 750px;
    margin-right: 26%;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(235, 229, 229);
    padding: 20px;
}

.img2 {
    width: 46.5%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 33px;
}

.opens {
    font-family: 'Inconsolata', monospace;
    margin-top: 50px;
    margin-right: 21%;
}

.opens2 {
    font-family: 'Inconsolata', monospace;
    margin-top: 20px;
    margin-right: 25.3%;
}

#title2 {
    text-align: center;
    margin-top: 2px;
    color: white;
    background-color: black;
    width: 12%;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
}

.sec2 {
    margin-left: 46%;
    margin-top: -70px;
}

.div {
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
    border-color: gray;
    border-style: solid;
    width: 46%;
    margin-left: 27.5%;
    padding: 10px;
    box-shadow: 10px 5px 5px rgb(172, 165, 165);
}

.product {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 50px;
    font-family: 'Inconsolata', monospace;
}

#products {
    border-style: solid;
    border-color: gray;
    width: 46%;
    margin-left: 27.5%;
    margin-top: -22px;
    box-shadow: 10px 5px 5px rgb(172, 165, 165);
}

#regularcoffee {
    color: gray;
}

#img3 {
    width: 46%;
    margin-left: 27.5%;
    margin-top: 80px;
}

#titlefind {
    text-align: center;
    margin-top: 140px;
    color: white;
    background-color: black;
    width: 12%;
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    margin-left: 42.9%;
}

#find {
    font-family: 'Inconsolata', monospace;
    margin-top: 150px;
    margin-left: 27.5%;
}

#span {
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    margin-left: 20%;
    width: 1px;
}

#find2 {
    font-family: 'Inconsolata', monospace;
    margin-top: 50px;
    margin-left: 27.5%;
    max-width: 1370px;
}

#find3 {
    font-family: 'Inconsolata', monospace;
    margin-top: 50px;
    margin-left: 27.5%;
}

#namesenha {
    margin-left: 27.5%;
    margin-top: 20px;
   width: 46.5%;
    height: 140%;
}

#namesenha2 {
    margin-left: 27.5%;
    margin-top: 20px;
    width: 8.5%;
    height: 140%;
}
